/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/js/*.bak
.env
.backup
.backup
composer.lock
.env.backup
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
