//Color theme main
//-----------------------------------

$primary:                 #030a6e; //

$secondary:               #3a4ed5; //
$secondary-1:             #95ffe0; //
$secondary-2:             #030a6e; //
$secondary-3:             #080ab4; //
$secondary-4:             #6e7b9d; //
$secondary-7:             #030A62; //

$secondary-5:             #21212e; //
$secondary-6:             #dedfe8; //
