//Color theme main
//-----------------------------------

$primary:                 #981df0;

$secondary:               #ed1c94;
$secondary-1:             #ffec17;
$secondary-2:             #6d0eb1;
$secondary-3:             #080ab4;
$secondary-4:             #6e7b9d;
$secondary-7:             #6a0dac;

$secondary-5:             #21212e;
$secondary-6:             #dedfe8;
