//Color theme main
//-----------------------------------

$primary:                 #00609C;

$secondary:               #EE3453;
$secondary-1:             #DE1F75;
$secondary-2:             #660505;
$secondary-3:             #003d64;
$secondary-4:             #6e7b9d;
$secondary-5:             #21212e;
$secondary-6:             #dedfe8;
$secondary-7:             #12122F;